<mat-toolbar style="background-color:white" color="primary">
    <mat-toolbar-row> 

       <span style="margin-left: 35px;margin-top: 5px; color:black"> InCubation</span>
<!--
    <mat-toolbar style="background-color: #1e1e2e" color="primary">
       <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" >
           <ul fxLayout="row" fxLayoutGap="20px">
               <li>
                   <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                   </button>
               </li>
               <li>
                    <button mat-icon-button>
                         <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                        <button mat-icon-button>
                             <mat-icon>help_outline</mat-icon>
                        </button>
                    </li>
           </ul>
       </div>
       -->
    </mat-toolbar-row>
</mat-toolbar>


<!--

     <button mat-icon-button>
           <mat-icon>menu</mat-icon>
       </button>

     <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
-->