<!--<app-header></app-header>-->


<mat-drawer-container style="background-color:white">
        <mat-drawer mode="side" class="mat-elevation-z24" opened="sideBarOpen" style="background:linear-gradient(#205ce9,#2ab0ef);"> 
            <app-sidebar></app-sidebar> 
        </mat-drawer>
        <mat-drawer-content style=" background-color:#eceef2"> 
            <router-outlet></router-outlet>
        </mat-drawer-content>
    </mat-drawer-container>

<!-- <app-footer></app-footer> 


    <mat-drawer-container style="background-color:white">
    <mat-drawer mode="side" class="mat-elevation-z24" opened="sideBarOpen" style="background:linear-gradient(#059fd9,#00bceb);"> 
        <app-sidebar></app-sidebar> 
    </mat-drawer>
    <mat-drawer-content style=" background-color:#eceef2"> 
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>


#6c757d
    <mat-drawer-content style=" background-color:#f2f2f2"> 
<mat-drawer-container style="background-color:#1e1e2e">

-->
